<div>
  <h1>At Memeocracy we change the world</h1>
</div>
<div>
  <h3>Through the power of memes we plan to make the world a more sarcastic experience</h3>
</div>
<hr>
<p class="about">
  It all started when we sitting on the toilet for so long that our legs went to sleep, and I thought what if people just wore memes on their shirts with most memes triggering uncontrollable bouts of laughter why not make the world a happier place buy wearing meme T- shirts. And thus it was born memes on t shirts.
</p>
